service: excalidash
image: tifandotme/excalidash-frontend

servers:
  web:
    - box.javanese-pound.ts.net

ssh:
  user: eddies

sshkit:
  max_concurrent_starts: 1
  dns_retries: 5
  pool_idle_timeout: 300

proxy:
  # using custom cert
  # because Kamal's `ssl: true` feature won't work when the server is "private"
  # p.s. we need to renew it every 3 months
  ssl:
    certificate_pem: SSL_CERTIFICATE_PEM
    private_key_pem: SSL_PRIVATE_KEY_PEM
  host: excalidash.tifan.me
  app_port: 80
  healthcheck:
    path: /
    interval: 30
    timeout: 10

env:
  clear:
    BACKEND_URL: excalidash-backend:8000

accessories:
  backend:
    service: excalidash-backend
    image: tifandotme/excalidash-backend
    host: box.javanese-pound.ts.net
    registry:
      server: ghcr.io
      username:
        - KAMAL_REGISTRY_USERNAME
      password:
        - KAMAL_REGISTRY_PASSWORD
    env:
      clear:
        PORT: 8000
        NODE_ENV: production
        DATABASE_URL: file:/app/prisma/dev.db
    volumes:
      - /home/eddies/excalidash-storage:/app/prisma
    network: kamal

aliases:
  shell: app exec --interactive --reuse "bash"
  logs: app logs -f # follow
  lzd: server exec --interactive "TERM=xterm-256color /home/linuxbrew/.linuxbrew/bin/lazydocker"
  btm: server exec --interactive "TERM=xterm-256color /home/linuxbrew/.linuxbrew/bin/btm -g --process_memory_as_value"
  backend-shell: accessory exec backend --interactive --reuse "sh"
  backend-logs: accessory logs backend -f

registry:
  server: ghcr.io
  username:
    - KAMAL_REGISTRY_USERNAME
  password:
    - KAMAL_REGISTRY_PASSWORD

builder:
  arch: amd64
  remote: ssh://eddies@box.javanese-pound.ts.net
  dockerfile: frontend/Dockerfile
