[env]
_.file = ".env"

[tools]
terraform = "latest"

[tasks.set-project]
description = "Set gcloud project to ensure correct context"
run = """
gcloud config set project $TF_VAR_project_id
gcloud auth application-default set-quota-project $TF_VAR_project_id
"""

[tasks."check"]
description = "Run terraform fmt and validate"
run = """
terraform fmt
terraform validate
"""
