service: <%= ENV.fetch("SERVICE_NAME") %>
image: tifandotme/<%= ENV.fetch("SERVICE_NAME") %>

servers:
  web:
    hosts:
      - box.javanese-pound.ts.net
    options:
      memory: 250m

ssh:
  user: eddies

sshkit:
  max_concurrent_starts: 1
  dns_retries: 5
  pool_idle_timeout: 300

proxy:
  # using custom cert
  # because Kamal's `ssl: true` feature won't work when the server is "private"
  # p.s. we need to renew it every 3 months
  ssl:
    certificate_pem: SSL_CERTIFICATE_PEM
    private_key_pem: SSL_PRIVATE_KEY_PEM
  host: uptime-kuma.tifan.me
  app_port: 3001

env:
  clear:
    TZ: Asia/Jakarta
    UMASK: "0022"
  secret:
    - TS_AUTHKEY

registry:
  server: ghcr.io
  username:
    - KAMAL_REGISTRY_USERNAME
  password:
    - KAMAL_REGISTRY_PASSWORD

volumes:
  - /home/eddies/uptime-kuma-storage:/app/data

logging:
  driver: json-file
  options:
    max-size: 10m
    max-file: "3"

builder:
  arch: amd64
  remote: ssh://eddies@box.javanese-pound.ts.net
  args:
    IMAGE: <%= ENV.fetch("IMAGE") %>
    VERSION: <%= ENV.fetch("VERSION", "latest") %>
    SERVICE_NAME: <%= ENV.fetch("SERVICE_NAME") %>
