name: Generate Certificate

on:
  workflow_dispatch:
    inputs:
      service:
        description: "Service to generate certificate for"
        required: true
        default: "fizzy"
        type: choice
        options:
          - fizzy
          - excalidash

jobs:
  generate:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    env:
      DOTENV_PRIVATE_KEY: ${{ secrets.DOTENV_PRIVATE_KEY }}

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: ./.github/actions/infra-setup
        with:
          oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          oauth-secret: ${{ secrets.TS_OAUTH_SECRET }}

      - name: Generate new certificate
        run: |
          mkdir -p ./certbot
          cat <<EOF > ./certbot/cloudflare.ini
          dns_cloudflare_api_token = "$(dotenvx get CLOUDFLARE_API_TOKEN)"
          EOF
          chmod 600 ./certbot/cloudflare.ini

          docker run --rm \
            -v "$(pwd)"/letsencrypt:/etc/letsencrypt \
            -v "$(pwd)"/letsencrypt-logs:/var/log/letsencrypt \
            -v "$(pwd)"/certbot/cloudflare.ini:/root/.config/certbot/cloudflare.ini \
            certbot/dns-cloudflare \
            certonly \
            --dns-cloudflare \
            --dns-cloudflare-credentials /root/.config/certbot/cloudflare.ini \
            --dns-cloudflare-propagation-seconds 20 \
            --non-interactive \
            --agree-tos \
            --email tifan@proton.me \
            -d ${{ inputs.service }}.tifan.me

          sudo chown -R "$USER" letsencrypt

      - name: Create directory on server
        run: |
          ssh eddies@box.javanese-pound.ts.net "mkdir -p /home/eddies/.kamal/proxy/apps-config/${{ inputs.service }}/tls/web/"

      - name: Copy certificates to server
        run: |
          scp ./letsencrypt/live/${{ inputs.service }}.tifan.me/fullchain.pem eddies@box.javanese-pound.ts.net:/home/eddies/.kamal/proxy/apps-config/${{ inputs.service }}/tls/web/cert.pem
          scp ./letsencrypt/live/${{ inputs.service }}.tifan.me/privkey.pem eddies@box.javanese-pound.ts.net:/home/eddies/.kamal/proxy/apps-config/${{ inputs.service }}/tls/web/key.pem
